*
	box-sizing: border-box
	padding: 0
	margin: 0

header
	.bottom
		nav
			@apply bg-white border-gray-200 px-4 lg:px-6 py-2.5 relative
			.container
				@apply mx-auto flex flex-wrap justify-between items-center
				max-width: 1920px
				width: 100%
				padding-left: 30px
				padding-right: 30px
				a
					@apply flex items-center
					img
						@apply  h-6 sm:h-9
					span
						@apply self-center text-lg font-medium whitespace-nowrap

					.logo img
						@apply  h-[57px] object-contain

			[data-collapse-toggle="mobile-menu-2"]
				@apply lg:hidden

			.menu-2
				@apply hidden lg:flex lg:w-auto
				@media (max-width: 1023px)
					@apply absolute top-full left-0 w-full bg-white shadow-lg z-50
				.menu-item a
						@apply md:block py-2 text-lg text-neutral-900 border-b border-gray-100 font-medium lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-2
						&.active
							@apply text-primary-2 border-b border-primary-2 lg:border-0

			.right-side
				@apply hidden md:flex items-center gap-6 
				.language
					@apply gap-2 text-2xl font-medium hover:text-primary-2 transition-all duration-300
				
				a.contact
					@apply bg-primary-1 rounded-3xl gap-3 px-6 py-3 justify-center items-center hover:bg-primary-2 transition-all duration-300
					.arrow-icon
						@apply transform rotate-45 transition-transform duration-300
					&:hover
						.arrow-icon
							@apply rotate-90
					