.section.section-home-banner
	@apply  w-full

.section-home-banner
	@apply w-full 

// ===========setup button===========	
.btn_view-more
	@apply bg-white rounded-5 py-3 px-8 gap-2 text-[#034AA0]  justify-start border border-[#034AA0]
	i
		@apply text-[#034AA0] ml-3

// ===========setup swiper===========


.banner-swiper
	.swiper
		.swiper-slide
			@apply flex items-center justify-center relative
			.wrapper-content
				img
					height: rr(780px)
					@apply object-cover 
					
				.content
					.title
						width: rr(526px)
						@apply text-4xl lg:text-6xl font-medium leading-[50px]
					.text
						@apply text-2xl lg:text-3xl leading-[40px] tracking-[0.9px]
					a.btn-view-all-in-carousel
						@apply flex items-center py-2 px-6 w-fit gap-3 bg-primary-1 rounded-3xl justify-center hover:bg-primary-2 transition-all duration-300 mt-8
						span
							@apply text-white font-medium text-lg
						i
							@apply text-white text-[24px]

						.arrow-icon
							@apply text-white transform rotate-45 transition-transform duration-300
						&:hover
							span
								@apply text-white
							i
								@apply text-white 
							.arrow-icon
								@apply rotate-90 

	.swiper-pagination-bullet
		width: rr(16px)
		height: rr(16px)
		@apply bg-neutral-White rounded-full opacity-100 border border-primary-2

		&-active
			@apply bg-primary-2
	

	.btn-next-banner-home
		margin: rr(-24px) rr(112px) 0 0
		@apply hover:bg-neutral-White transition-all duration-300 ease-out
		&:hover
			i
				@apply text-primary-1
	.btn-prev-banner-home
		margin: rr(-24px) 0 0 rr(132px) 
		@apply hover:bg-neutral-White transition-all duration-300 ease-out
		&:hover
			i
				@apply text-primary-1

	.bullet-home
		margin: 0 0 rr(40px) rr(10px)
		@apply mb-[rr(58px)]
		
